@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.layer.background {
  background-image: url("/0_sky.png");
}

.layer.foreground {
  background-image: url("/4_ground.png");
}

.layer.city {
  background-image: url("/3_city.png");
}

.layer.clouds {
  background-image: url("/2_clouds.png");
	animation: cloud-shift 120s linear 1 forwards;
  animation-iteration-count: 1;
}

.layer.clouds2 {
  background-image: url("/2_clouds.png");
  left: -100%;
	animation: cloud-shift2 240s linear 1 forwards;
  animation-iteration-count: infinite;
}

.layer.clouds3 {
  background-image: url("/2_clouds.png");
  left: -100%;
	animation: cloud-shift2 240s linear 1 forwards;
  animation-iteration-count: infinite;
  animation-delay: 60s;
}

@keyframes cloud-shift {
  from {
    left: 0;
  }
  to {
      left: 100%;
  }
}

@keyframes cloud-shift2 {
  from {
    left: -100%;
  }
  to {
      left: 100%;
  }
}

.hero {
  width: 160px;
  background: url("/Idle.png");
  background-repeat: no-repeat;
  animation-name: hero-sprite; 
  animation-duration: 1.5s;
  animation-timing-function: steps(8);
  animation-iteration-count: infinite;
  transform: translate(-10%, -35%) scale(2.5);
}

.hero-loading {
  width: 160px;
  background: url("/Run.png");
  background-repeat: no-repeat;
  animation-name: hero-sprite; 
  animation-duration: 0.5s;
  animation-timing-function: steps(8);
  animation-iteration-count: infinite;
  transform: translate(0%, -25%) scale(2.5);
}

@keyframes hero-sprite {
  from { background-position: 0px; }
  to { background-position: -1280px; }
}

.hero-death {
  width: 160px;
  background: url("/Death.png");
  background-repeat: no-repeat;
  animation-name: hero-death-sprite; 
  animation-duration: 1.0s;
  animation-timing-function: steps(5);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transform: translate(25%, -35%) scale(2.5);
}

@keyframes hero-death-sprite {
  from { background-position: 0px; }
  to { background-position: -800px; }
}

.hero-slash {
  width: 160px;
  background: url("/Attack.png");
  background-repeat: no-repeat;
  animation-name: hero-slash-sprite; 
  animation-duration: 0.75s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
  transform: translate(-20%, -25%) scale(2.2);
}

@keyframes hero-slash-sprite {
  from { background-position: 0px; }
  to { background-position: -640px; }
}

.lh-narrow {
  line-height: 0.65;
}

.tiny-buffer {
  padding-left: 0.05rem;
}